<div class="game-over-background">
  <div class="content-game-over">
    <img src="../public/images/game-over.png" class="mario-game-over" />
    <h1>Game Over</h1>
    <p>Restart?</p>
    <p>Yes</p>
    <p>No</p>
  </div>
</div>

<div class="start-game">
  <img src="../public/images/pressStart.gif" class="press-start" />
  <p class="info-qr-code">Scaneie o qr-code no seu celular para acionar o controle. &#127918;</p>
  <img src="../public/images/qr-code.png" class="qr-code" />
</div>

<div class="game-stage">
  <img src="../public/images/clouds.png" class="clouds" />
  <img src="../public/images/pipe.png" class="pipeImage" />
  <img src="../public/images/floor.png" class="floor" />
  <img src="../public/images/mario.gif" class="mario" id="marioImage" />
</div>