<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/css/gameStage.css">
    <link rel="stylesheet" type="text/css" href="../public/css/control.css">
    <link rel="stylesheet" type="text/css" href="../public/css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>

<body>
    {{{body}}}

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script type="text/javascript" src="../public/js/controlPage.js"></script>
    <script type="text/javascript" src="../public/js/gamePage.js"></script>
</body>

</html>