* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: #6d519b;
  --grey: #cbcbc9;
  --shadow: #889190;
  --darkGrey: #404040;
  --lightGrey: #cbccc9;
  --topPurpleButtons: #9f9cc7;
  --bottomPurpleButtons: #3a2071;
  --sky: #5a94ff;
}
