<div class="control-stage">
<div class="control-buttons">
    <button class="button-one" value="up"></button>
    <button class="button-two"></button>
    <button class="button-three"></button>
    <button class="button-four"></button>
</div>

</div>