<div class="control-stage">

    <div class="general-div-control">
        <div class="left-side-control">
            <div class="border-left">
                <div class="control-buttons">
                    <div class="up-div-button">
                        <button class="button-one" value="up" />
                    </div>
                    <div class="middle-div-button">
                        <button class="button-two" />
                        <button class="middle-button" disabled />
                        <button class="button-three" />

                    </div>
                    <div class="botton-div-button">
                        <button class="button-four" />
                    </div>
                </div>
            </div>

        </div>
        <div class="middle-control">
            <div class="div-buttons">
                <button class="select-button" />
                <button class="start-button" />
            </div>
        </div>
        <div class="right-side-control">
            <div class="shadown-right-buttons">
                <div class="top-buttons">
                    <button class="button-top-one" />
                    <button class="button-bottom-one" />
                </div>
                <div class="bottom-buttons">
                    <button class="button-top-two" />
                    <button class="button-bottom-two" />
                </div>
            </div>
        </div>



    </div>





</div>