<div class="game-over-background">
  <div class="content-game-over">
    <img src="../images/game-over.png" class="mario-game-over" />
<h1>Game Over</h1>
    <p>Restart?</p>
    <p>Yes</p>
    <p>No</p>

  </div>

</div>

<div class="game-stage">
  <img src="../images/clouds.png" class="clouds" />
  <img src="../images/pipe.png" class="pipeImage" />
  <img src="../images/floor.png" class="floor" />
  <img src="../images/mario.gif" class="mario" id="marioImage" />
</div>