<div class="game-stage">
  <img src="../images/pipe.png" class="pipeImage" />

  <img src="../images/mario.gif" class="mario" />
</div>


<script>
  function renderEvent(controlEvent) {
    teste(controlEvent);
  }

  function teste(controlEvent) {
    const mario = document.querySelector(".teste");

    if (controlEvent) {
      mario.style.bottom = "40%";
    }
  }

</script>