<div class="game-stage">
  <img src="../images/clouds.png" class="clouds" />
  <img src="../images/pipe.png" class="pipeImage" />
  <img src="../images/floor.png" class="floor" />
  <img src="../images/mario.gif" class="mario" />
</div>