<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/gameStage.css">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/control.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>

<body>
    {{{body}}}
    
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/gamePage.js"></script>
    <script src="/controlPage.js"></script>





</body>

</html>